<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<th:block layout:fragment="head_title">
    <title>BookingRooms</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>


<th:block layout:fragment="content_body">

    <div class="content-wrapper">
        <section class="content-header">
            <!--<h1> 서비스 준비중 <small>사내 공용일정</small> </h1>-->
        </section>

        <section class="content">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="box-title"> <span th:text="${#temporals.format(today, 'yy년 MM월 dd일 E요일')}"></span> 회의 일정 </h4>
                        </div>

                        <div class="box-body">
                            <th:block th:if="${todayList.size() == 0}">
                                <h2 class="page-header">오늘 회의 일정이 없습니다.</h2>
                            </th:block>

                            <th:block th:unless="${todayList.size() == 0}">
                                <table class="table table-hover table-responsive">
                                    <colgroup>
                                        <col width="50%">
                                        <col width="20%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>

                                    <tr>
                                        <th>회의</th>
                                        <th>회의실</th>
                                        <th>참석인원</th>
                                        <th>시간</th>
                                    </tr>

                                    <tr th:each="data : ${todayList}">
                                        <td>
                                            <a href="javascript:void(0)" th:text="${data.getTitle()}" th:onclick="'click4Item(' + ${data.getMeetingIdx()} + ')'"></a>
                                        </td>
                                        <td th:text="${data.getRoom().getName()}"></td>
                                        <td>
                                            <span th:if="${data.getAttendUserList().size() == 1}"
                                                th:text="${data.getAttendUserList().get(0)}"></span>
                                            <span th:unless="${data.getAttendUserList().size() == 1}"
                                                  th:text="${data.getAttendUserList().get(0)} + ' 외 ' + ${data.getAttendUserList().size()-1} + ' 명'"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#temporals.format(data.getStartDate(), 'HH:mm')} + ' ~ ' +  ${#temporals.format(data.getEndDate(), 'HH:mm')} ">
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </th:block>

                        </div> <!-- ./box-body -->
                    </div> <!-- ./box -->
                </div> <!-- ./col -->

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="box-title">주간 회의 일정</h4>
                        </div>

                        <div class="box-body">
                            <th:block th:if="${weekList.size() == 0}">
                                <h2 class="page-header">이번 주 회의 일정이 없습니다.</h2>
                            </th:block>

                            <th:block th:unless="${weekList.size() == 0}">
                                <table class="table table-hover table-responsive">
                                    <colgroup>
                                        <col width="10%">
                                        <col width="40%">
                                        <col width="20%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>

                                    <tr>
                                        <th>일자</th>
                                        <th>회의</th>
                                        <th>회의실</th>
                                        <th>참석인원</th>
                                        <th>시간</th>
                                    </tr>

                                    <tr th:each="data : ${weekList}">
                                        <td th:text="${#temporals.format(data.getStartDate(), 'MM월 dd일')}"></td>
                                        <td>
                                            <a href="javascript:void(0)" th:text="${data.getTitle()}" th:onclick="'click4Item(' + ${data.getMeetingIdx()} + ')'"></a>
                                        </td>
                                        <td th:text="${data.getRoom().getName()}"></td>
                                        <td>
                                            <span th:if="${data.getAttendUserList().size() == 1}"
                                                  th:text="${data.getAttendUserList().get(0)}"></span>
                                            <span th:unless="${data.getAttendUserList().size() == 1}"
                                                  th:text="${data.getAttendUserList().get(0)} + ' 외 ' + ${data.getAttendUserList().size()-1} + ' 명'"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#temporals.format(data.getStartDate(), 'HH:mm')} + ' ~ ' +  ${#temporals.format(data.getEndDate(), 'HH:mm')} ">
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </th:block>

                        </div> <!-- ./box-body -->
                    </div> <!-- ./box -->
                </div> <!-- -->
            </div> <!-- row -->

            <!-- Modal -->
            <th:block th:include="fragments/meeting/modal"></th:block>


        </section><!-- ./content -->
    </div> <!-- ./content-wrapper -->
</th:block>

<th:block layout:fragment="custom_js">

    <script th:src="@{'/js/common/modal_meeting.js?=181206_01'}"></script>
    <script th:src="@{'/js/main/main.js?=181206_01'}"></script>
</th:block>

</html>