<!-- Body 하단에 JS를 추가 -->

<!-- Js lib -->

<script th:src="@{/lib/jQuery_3.3.1/dist/jquery.min.js}"></script> <!-- jQuery -->
<script th:src="@{/lib/jQuery-ui_1.11.4/jquery-ui.js}"></script> <!-- jQuery_UI -->
<script th:src="@{/lib/AdminLTE_2.4.5/plugins/bootstrap/dist/js/bootstrap.js}"></script> <!-- BootStrap -->
<script th:src="@{/lib/SweetAlert2-7.24.3/sweetalert2.min.js}"></script> <!-- SweetAlert -->

<script th:src="@{/lib/Js-Cookie-2.2.0/js.cookie.js}"></script> <!-- Cookie -->


<!-- Js Custom -->
<script th:src="@{/js/common/loading.js}"></script>
<script th:src="@{/js/common/common_util.js}"></script>