<!-- Main 화면에서 사용하는 공용적 Head  -->

<!--Meta Data-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>


<!-- 기본적인 html head 추가부 -->
<th:block layout:fragment="head_title"></th:block>


<!-- Css lib -->
<link rel="stylesheet" th:href="@{/lib/Semantic-UI_2.4/semantic.min.css}" />
<link rel="stylesheet" th:href="@{/lib/SweetAlert2-7.24.3/sweetalert2.min.css}" />


<!-- Css custom -->
<link rel="stylesheet" th:href="@{/css/common/loading.css}" />

