<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<th:block layout:fragment="head_title">
    <title>BookingRooms - 회의실 현황</title>
</th:block>

<th:block layout:fragment="custom_css">

</th:block>


<th:block layout:fragment="content_body">

    <div class="content-wrapper">
        <section class="content-header">
            <h1 회의실 현황 </h1>
        </section>

        <section class="content">





        </section><!-- ./content -->
    </div> <!-- ./content-wrapper -->
</th:block>

<th:block layout:fragment="custom_js">

    <script th:src="@{/js/main/main.js}"></script>
</th:block>

</html>