<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="mainBody" class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper">
        <!-- Contents -->
        <th:block layout:fragment="content_body"></th:block>

        <!-- Footer -->
        <th:block th:include="fragments/main/footer"></th:block>
    </div>


    <!-- Js -->
    <th:block th:include="fragments/common/common_js"></th:block>

    <script th:src="@{/lib/AdminLTE_2.4.5/js/adminlte.js}"></script>


    <script th:src="@{/lib/AdminLTE_2.4.5/Plugins/select2/dist/js/select2.full.min.js}"></script>

    <script th:src="@{/lib/AdminLTE_2.4.5/Plugins/moment/min/moment.min.js}"></script>

    <!-- DatePicker -->
    <script th:src="@{/lib/AdminLTE_2.4.5/Plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/lib/AdminLTE_2.4.5/Plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ko.min.js}"></script>

    <!-- jQuery Timepicker -->
    <script th:src="@{/lib/jQuery-Timepicker/jquery.timepicker.min.js}"></script>


    <!-- bootstrap time picker -->
    <!--<script th:src="@{/lib/AdminLTE_2.4.5/Plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"></script>-->

    <script th:src="@{/js/common/common_main.js}"></script>

    <!-- Custom JS  -->
    <th:block layout:fragment="custom_js"></th:block>

</body>

</html>