<!-- Header -->
<header class="main-header">

    <a href="/" class="logo">
        <span class="logo-mini"><b>BR</b></span>
        <span class="logo-lg"><b>B</b>ooking Room</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle " data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0);" onclick="click4AddMeetingData()" data-toggle="control-sidebar"><i class="fa fa-lg fa-plus-square-o"></i> &nbsp; 회의등록 </a>
                </li>
            </ul>

            <!--<ul class="nav navbar-nav">-->
                <!--<li class="dropdown user user-menu">-->
                    <!--<a href="javascript:void(0)" > &lt;!&ndash; class="dropdown-toggle" data-toggle="dropdown" &ndash;&gt;-->
                        <!--<span class="hidden-xs">Alexander Pierce</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </nav>
</header>


<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">회의실</li>

            <li>
                <a href="/room/meeting/time">
                    <i class="fa fa-th"></i>
                    <span>회의실 사용현황</span>
                </a>
            </li>

            <li>
                <a href="/meeting/calendar">
                    <i class="fa fa-th"></i>
                    <span>회의 일정</span>
                </a>
            </li>

            <!-- 관리 측 -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>회의실 관리 (관리) </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/room/status/list">
                            <i class="fa fa-th"></i>
                            <span>회의실 히스토리</span>
                        </a>
                    </li>
                    <li>
                        <a href="/room/status/list">
                            <i class="fa fa-th"></i>
                            <span>회의실 현황</span>
                        </a>
                    </li>
                </ul>
            </li> <!-- ./treeview -->

        </ul>
    </section>
</aside>