<!-- Header -->
<header class="main-header">

    <a href="/" class="logo">
        <span class="logo-mini"><b>BR</b></span>
        <span class="logo-lg"><b>B</b>ooking Room</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle " data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--<li>-->
                    <!--<a href="javascript:void(0);" onclick="click4AddMeetingData()" data-toggle="control-sidebar"><i class="fa fa-lg fa-plus-square-o"></i> &nbsp; 회의등록 </a>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0)" > <!-- class="dropdown-toggle" data-toggle="dropdown" -->
                        <span class="hidden-xs" th:text="${''+session.Account.getName() + '님 반갑습니다.'}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">회의</li>
            <li>
                <a href="/meeting/list">
                    <i class="fa fa-book"></i>
                    <span>전체 회의</span>
                </a>
            </li>

            <li>
                <a href="/meeting/calendar">
                    <i class="fa fa-calendar"></i>
                    <span>월간 회의 일정</span>
                </a>
            </li>

            <li class="header">회의실</li>

            <li>
                <a href="/room/meeting/time">
                    <i class="fa fa-university"></i>
                    <span>회의실 사용현황</span>
                </a>
            </li>

            <th:block th:if="${session.Account.getId().equals('admin')}">

                <li class="header">관리자</li>

                <li>
                    <a href="/room/status/list">
                        <i class="fa fa-building"></i>
                        <span>회의실 관리</span>
                    </a>
                </li>

                <li>
                    <a href="/room/meeting/time">
                        <i class="fa fa-users"></i>
                        <span>사용자 관리</span>
                    </a>
                </li>

                <li>
                    <a href="/room/meeting/time">
                        <i class="fa fa-file-text"></i>
                        <span>회의 관리</span>
                    </a>
                </li>

            </th:block>

            <li class="header">ETC</li>
            <li><a href="javascript:logout()"><i class="fa fa-circle-o text-red"></i> <span>Logout</span></a></li>

        </ul>
    </section>
</aside>