<div class="modal fade" id="meetingDataModal" tabindex="-1" role="dialog" aria-labelledby="meetingDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="meetingDataModalLabel"></h4>
            </div> <!-- ./modal-header -->
            <div class="modal-body">
                <h4 class="box-title">회의 열람</h4>

                <input id="meetingIdx" type="hidden">

                <div class="row" style="margin-top: 25px;">
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label for="titleInput">회의 제목</label>
                            <input type="text" class="form-control" id="titleInput" readonly placeholder="제목을 입력하세요.">
                        </div>
                    </div> <!-- ./col -->
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group" style="margin-top: 25px;" readonly="readonly">
                            <div class="checkbox" readonly="readonly">
                                <label> <input type="checkbox" id="isPrivate" disabled> 비 공개 회의 </label>
                            </div>
                        </div>
                    </div> <!-- ./col -->
                </div> <!-- ./row -->

                <div class="form-group" style="margin-top: 15px;">
                    <label for="contentInput">내용</label>
                    <textarea class="form-control" id="contentInput" rows="7" style="resize: none;" readonly placeholder="제목을 입력하세요."></textarea>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label>시작일</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="startDate" readonly>
                            </div>
                        </div>
                    </div> <!-- ./col -->
                    <div class="col-sm-12 col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>시작시간</label>
                                <div class="input-group">
                                    <div class="input-group-addon"> <i class="fa fa-clock-o"></i> </div>
                                    <input type="text" class="form-control" id="startTime" readonly>
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./col -->

                    <div class="col-sm-12 col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>종료시간</label>
                                <div class="input-group">
                                    <div class="input-group-addon"> <i class="fa fa-clock-o"></i> </div>
                                    <input type="text" class="form-control" id="endTime" readonly>
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./col -->
                </div> <!-- ./row -->

                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6 col-md-5">
                        <div class="form-group">
                            &nbsp;<label for="select2Room">회의실</label>
                            <select class="form-control select2" id="select2Room" style="width: 100%;" disabled>
                            </select>
                        </div>
                    </div> <!-- ./col -->
                    <div class="col-sm-6 col-md-7">
                        <div class="form-group">
                            &nbsp;<label for="select2User">참석자</label>
                            <select class="form-control select2" multiple="multiple" id="select2User" style="width: 100%;" disabled>
                            </select>
                        </div>
                    </div> <!-- ./col -->
                </div> <!-- ./row -->


                <div class="row" id="buttonViewAdd" style="margin-top: 30px;">
                    <div class="col-sm-12 col-md-12" style="padding-left: 25%; padding-right: 25%;">
                        <button id="saveUpdateBt" type="button" class="btn btn-success" onclick="saveUpdateData()" style="width: 100%;"> 등록하기 </button>
                    </div>
                </div>

                <div class="row" id="buttonViewRead" style="margin-top: 30px;">
                    <div class="col-sm-6 col-md-6 text-center">
                        <button type="button" class="btn btn-warning" onclick="click4ModifyBt()" style="width: 100%;"> 수정 </button>
                    </div>
                    <div class="col-sm-6 col-md-6 text-center">
                        <button type="button" class="btn btn-danger" onclick="click4DeleteBt()" style="width: 100%;"> 삭제 </button>
                    </div>
                </div>

            </div> <!-- ./modal-body -->
        </div> <!-- modal-content -->
    </div> <!-- ./modal-dialog -->
</div> <!-- Modal -->