<div class="modal fade" id="showRoomInMeetingModal" tabindex="-1" role="dialog" aria-labelledby="showRoomInMeetingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="showRoomInMeetingModalLabel"></h4>
            </div> <!-- ./modal-header -->
            <div class="modal-body">
                <h4 class="box-title">회의 정보</h4>

                <input id="mhStuffIdx" type="hidden">


                <div class="row" style="margin-top: 25px;">
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label for="titleInput">회의 제목</label>
                            <input type="text" class="form-control" id="titleInput" readonly="readonly">
                        </div>
                    </div> <!-- ./col -->
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group" style="margin-top: 25px;" disabled="disable">
                            <div class="checkbox">
                                <label> <input type="checkbox" id="isPrivate" disabled> 비 공개 회의 </label>
                            </div>
                        </div>
                    </div> <!-- ./col -->
                </div> <!-- ./row -->

                <div class="form-group" style="margin-top: 15px;">
                    <label for="contentInput">내용</label>
                    <textarea class="form-control" id="contentInput" rows="7" style="resize: none;" readonly="readonly"></textarea>
                </div>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label>시작일</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="startDate" readonly="readonly">
                            </div>
                        </div>
                    </div> <!-- ./col -->
                    <div class="col-sm-12 col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>시작시간</label>
                                <div class="input-group">
                                    <div class="input-group-addon"> <i class="fa fa-clock-o"></i> </div>
                                    <input type="text" class="form-control timepicker" id="startTime" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./col -->

                    <div class="col-sm-12 col-md-4">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>종료시간</label>
                                <div class="input-group">
                                    <div class="input-group-addon"> <i class="fa fa-clock-o"></i> </div>
                                    <input type="text" class="form-control timepicker" id="endTime" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div> <!-- ./col -->
                </div> <!-- ./row -->


            </div> <!-- ./modal-body -->
        </div> <!-- modal-content -->
    </div> <!-- ./modal-dialog -->
</div> <!-- Modal -->